#app_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
.main_container {
	display: grid;
	grid-template-rows: 85px 1fr;
	width: 100%;
	height: 100%;
	
}
.main_content {
	padding: 20px 40px;
}

/* Topbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topbar {
	display: grid;
	grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);
	width: 100%;
	height: 75px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	background-color: var(--app-primary);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	color: white;
}
.topbar .middle {
	display: flex;
	align-items: center;
}
.topbar .menu_btn{
	display: flex;
	place-items: center;
	place-content: center;
	width: 100px;
	height: 50px;
	background-color: white;
	border-radius: 0px 0px 8px 8px;
	color: black;
}
.topbar .menu_item_container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 10px;
	cursor: pointer;
}

/* Pagebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page_bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid var(--app-border);
	padding-bottom: 15px;
}
.page_bar .entity_name {
	display: flex;
	align-items: center;
	justify-content: start;
	font-weight: bold;
	font-size: 2rem;
}
.page_bar .report_container {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 15px;
	place-content: end;
	place-items: center;
}


/* Data grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.data_bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}
.data_bar .title {	
	font-size: 3rem;
	color: black;
	opacity: 0.7;
}
.data_bar .actions {
	display: flex;
	align-items: center;
	justify-content: end;	
}


/* Data grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.datagrid_container {
	width: 100%;
}

.datagrid_wrapper {
	display: grid;
}
.datagrid_wrapper .col_title {
	display: flex;
	align-items: center;
	height: 30px;
	background-color: var(--app-secondary);
	padding: 5px 8px;
	/* text-transform: uppercase; */
	font-size: 1.4rem;
	font-weight: bold;
	color: white;
	border-radius: 4px;
	opacity: 0.8;
}
.datagrid_wrapper .cell {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 5px 8px;
	border-bottom: 1px solid var(--app-border);
	font-size: 1.4rem;
}
.datagrid_wrapper .center {
	display: flex;
	justify-content: center;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form_container {
	position: relative;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	background-color: white;
	border: 1px solid var(--app-border);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 40px;
}
.form_container .title {
	width: 100%;
	font-size: 2.5rem;
}
.form_container .sub_title {
	width: 100%;
	font-size: 1.8rem;
	color: var(--app-primary);
}
/* Form: View */
.form_view_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 40px;
	max-width: 800px;
}
.form_view_container .view_group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 15px;
}
.form_view_container .view_group .label {
	width: 100%;
	display: flex;
	justify-content: start;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
.form_view_container .view_group .data {
	width: 100%;
	color: black;
	font-size: 1.6rem;
	opacity: 0.7;
}

/* Form: Add & Edit */
.form_addedit_container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
}
.form_addedit_container .form_group {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 15px;
}
.form_addedit_container .form_group .label {
	width: 100%;
	display: flex;
	justify-content: start;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
.form_addedit_container .form_group .data {
	width: 100%;
	color: black;
	font-size: 1.6rem;
	opacity: 0.7;
}
.form_addedit_container .form_error {
	display: none;
	position: absolute;
	top: -14px;
	background: white;
	border-radius: 5px;
	border: 1px solid #e57373;
	font-size: 1.2rem;
	padding: 0px 5px;
	margin-top: 5px;
}
.form_five_columns {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 10px;
	width: 100%;
}
.form_five_columns .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid var(--app-border);
	color: black;
	border-radius: 5px;
	padding: 5px 20px;
	cursor: pointer;
}

.form_one_column {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}
.form_two_columns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	width: 100%;
}
.form_four_columns{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	width: 100%;
}
.form_four_columns .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 50px; */
	background-color: white;
	border: 1px solid var(--app-border);
	color: black;
	border-radius: 5px;
	padding: 5px 20px;
	cursor: pointer;
}
.form_button_bar {
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	column-gap: 15px;;
}


/* View debtor and patient detail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.view_info_conatiner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #f5f5f5;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 40px;
}



/* Common
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mt_sml {
	margin-top: 5px;
}
.mt_med {
	margin-top: 15px;
}
.mt_lrg {
	margin-top: 25px;
}
.mb_sml {
	margin-bottom: 5px;
}
.mb_med {
	margin-bottom: 15px;
}
.mb_lrg {
	margin-bottom: 25px;
}
.mr_sml {
	margin-right: 5px;
}
.mr_med {
	margin-right: 15px;
}
.mr_lrg {
	margin-right: 25px;
}
.pr_sml {
	padding-right: 5px;
}
.pr_med {
	padding-right: 15px;
}
.pr_lrg {
	padding-right: 25px;
}

/* Font awesome: Change icon color */
.fa_col_primary {
	color: var(--app-primary);
}
.fa_col_secondary {
	color: var(--app-secondary);
}
.fa_col_white {
	color: white;
}

/* Cursors */
.c_p {
	cursor: pointer;
}
.c_d {
	cursor: default;
}

.action_button {
	padding: 8px 20px;
	border-radius: 8px;
	background-color: var(--app-primary);
	color: white;
	cursor: pointer;
}

.alt_button {
	padding: 8px 20px;
	border-radius: 8px;
	background-color: var(--app-secondary);
	color: white;
	cursor: pointer;
}

.close_btn {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 3rem;
	cursor: pointer;
	opacity: 0.7;
}

/* Login
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login_logo {
	display: block;
}
.login_title {
	font-size: 1.6rem;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}
.forgot {
	color: black;
	opacity: 0.6;
	text-decoration: none;
}


/* Loader/spinner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#loader {
    position: fixed;
    display: none;
    top: calc((100vh / 2) - 30px);
    left: calc((100vw / 2) - 30px);
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--app-primary); /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 999;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  
  
 
/* Form overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#form_overlay {
    position: fixed;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 300;
}

/* View overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#view_overlay {
    position: fixed;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 400;
}
